.description .zoom,
.material-icons,
.material-icons-outlined,
.primary-color{
	color: #e8a728 !important;
}
body,
.secondary-color{
	color: #1d1d1b !important;
}
.addeventatc:active,
.addeventatc:hover,
.addeventatc,
.headline,
.primary-color-bg{
	background-color: #e8a728 !important;
}
.secondary-color-bg{
	background-color: #1d1d1b !important;
}