.description .zoom,
.material-icons,
.material-icons-outlined,
.primary-color{
	color: #ffa595 !important;
}
body,
.secondary-color{
	color: #303e48 !important;
}
.addeventatc:active,
.addeventatc:hover,
.addeventatc,
.headline,
.primary-color-bg{
	background-color: #ffa595 !important;
}
.secondary-color-bg{
	background-color: #303e48 !important;
}