*{
	color: inherit !important;
}
/* body{
	background: #f1f5f9 !important;
}
.wrap{
	width: 700px !important;
	margin: 0 auto !important;
	padding: 30px 0px 80px 0px !important;
} */
.wrap .box{
	/* box-shadow: 0 7px 14px 0 rgb(50 50 93 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%) !important; */
	padding: 0px !important;
}
.wrap .box .logo{
	width: 100%;
}
.wrap .box .logo>img{
	width: 100%;
	height: auto;
	display: block;
}
.wrap .box-alt,
.wrap .box-inner{
	clear: both;
	position: relative;
	padding: 28px 60px 35px 60px;
	padding-top: 0px !important;
}
.wrap .box-alt{
	z-index: 100000;
	padding-bottom: 0px !important;
}
/* title */
.headline{
	background-color: #286efa;
	color: #ffffff !important;
	padding: 15px 60px !important;
	text-align: center;
}
.headline h1{
	font-size: 28px !important;
}
.headline h1 a{
	font-family: inherit !important;
	font-weight: inherit !important;
	color: inherit !important;
	word-break: normal !important;
}
/* date & time */
.hedwrp-t1{
	margin: 20px 0px 20px 0px !important;
}
/* description */
.description{
	margin-bottom: 0px !important;
}
.description .zoom{
	font-size: 1.5em;
	font-weight: bold;
}
/* url */
.eventopts{
	border-top: none !important;
}
/* add button */
.atc-btn-t1{
	padding-top: 15px !important;
	padding-bottom: 0px !important;
}
.addeventatc{
	padding: 10px 20px !important;
	line-height: 1.3 !important;
}
/* share popup */
.sharepop{
	right: 10px !important;
	top: -30px !important;
	visibility: hidden;
}
.sharepop.show{
	visibility: visible;
}
/* medias */
@media screen and (max-width: 710px){
/* @media screen and (max-width: 760px){ */
	/* body{
		background-color: #ffffff !important;
	}
	.wrap{
		width: auto !important;
		margin: 0 !important;
		padding: 30px 0px 50px 0px !important;
	}
	.wrap .box{
		box-shadow: none !important;
	} */
	.wrap .box-inner{
		padding: 0px 40px !important;
	}
	.headline{
		padding: 15px 40px !important;
	}
}
@media screen and (max-width: 760px){
	.wrap{
		padding-top: 0px !important;
	}
}
@media screen and (max-width: 500px){
	.wrap {
		padding-top: 0px !important;
	}
	.wrap .box-inner{
		padding: 0px 20px !important;
	}
	.headline{
		padding: 15px 20px !important;
	}
	.headline h1{
		font-size: 22px !important;
	}
}