.description .zoom,
.material-icons,
.material-icons-outlined,
.primary-color{
	color: #9a7e40 !important;
}
body{
	color: #093b60 !important;
}
.secondary-color{
	color: #9a7e40 !important;
}
.addeventatc:active,
.addeventatc:hover,
.addeventatc,
.headline,
.primary-color-bg{
	background-color: #9a7e40 !important;
}
.secondary-color-bg{
	background-color: #9a7e40 !important;
}